/* @import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css");
@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"); */

/* Pretendard Variable */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* Inter */
@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css");
@import "tailwindcss";

/* * {
  font-family: 
    "Inter",
    "SUIT Variable",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
} */
 * {
  font-family:
    "Pretendard Variable",
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-green-500 focus:border-green-500 rounded-lg;
  }
  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}